
<div class="col-lg-2 nav navbar-top-links" style="margin-top: 0" >
     <ul class="list-group sidebar-dashboard" style="padding: 0;  width: 250px; background-color: white; min-height: 700px">
         <li class="list-group-item">
            <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="/protected/dashboard"><span class="glyphicon glyphicon-dashboard">
                            </span> Dashboard</a>
                        </h4>
                    </div>
            </div>
         </li>
        <li class="list-group-item">
            <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-user">
                            </span> Users Control</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user">
                                        </span><a href="/protected/users"> 
                                        Pengguna</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       <i class="fa fa-user-secret" aria-hidden="true"></i>
                                        <a href="/protected/admin"> 
                                        Admin</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>    
        </li>
        <li class="list-group-item" >
            <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="/protected/katalog"><span class="glyphicon glyphicon-th-list">
                            </span> Katalog Control</a>
                        </h4>
                    </div>

        </li>
        <li class="list-group-item">
            <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#ordersControl"><span class="glyphicon glyphicon-shopping-cart">
                            </span> Orders Control</a>
                        </h4>
                    </div>
                    <div id="ordersControl" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-usd">

                                        </span><a href="/protected/pembayaran">Pembayaran</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>  

        </li>
        <li class="list-group-item">
            <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#postControl"><span class="glyphicon glyphicon-upload">
                            </span> Post Control</a>
                        </h4>
                    </div>
                    <div id="postControl" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-usd"></span><a href="/protected/ads/banner"> Ads Banner</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>  

        </li>
        <li class="list-group-item">
            <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#messagesControl"><span class="glyphicon glyphicon-envelope">
                            </span> Messages</a>
                        </h4>
                    </div>
                    <div id="messagesControl" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-usd"></span><a href="/protected/users"> Allow Access</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>  

        </li>
        <li class="list-group-item">
                 <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#setting"><span class="glyphicon glyphicon-wrench">
                            </span> Setting</a>
                        </h4>
                    </div>
                    <div id="setting" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-usd"></span><a href="/protected/users"> Allow Access</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>  
        </li>
    </ul> 
                
</div> 

<script>
    $('#jumbotron-head').remove();
    $('header').css({padding:0,paddingTop:'70px'});
    $('#navLogo').show();
</script>