<style>
    .jqx-file-upload, .jqx-file-upload-file-row, .jqx-file-upload-file-name, .jqx-file-upload-file-cancel, .jqx-file-upload-file-upload{
        border-style: none
    }
    #imageUploadSellerBrowseButton{
        margin-left: 30%;
    }
   
    
</style>
{{!-- <div class="modal fade" 
id="info-umum-seller" 
style="">
    <div class="modal-dialog" style="margin-top: 180px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Informasi Umum</h4>
            </div>
            <div class="modal-body">
                
                 <div class="row">
                    <div class="col-md-3" style="padding-left: 0">
                       Foto Profil
                    </div>
                    <div class="col-md-9">
                        <input type="file" id="imageUploadSeller">
                    </div>
                </div>
                <br>
                 <div class="row">
                    <div class="col-md-3" style="padding-left: 0">
                        Nama Perusahaan
                    </div>
                    <div class="col-md-9">
                        <input type="text" 
                        class="form-control" 
                        required="required"
                        data-bind="value:profs.company_name">
                    </div>
                </div>
                <br>
                 <div class="row">
                    <div class="col-md-3" style="padding-left: 0">
                        Nama Pengelola
                    </div>
                    <div class="col-md-9">
                        <input type="text" 
                        class="form-control" 
                        required="required"
                        data-bind="value:profs.nama">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3" style="padding-left: 0">
                        Nama Bank
                    </div>
                    <div class="col-md-9">
                        <input type="text" 
                        class="form-control" 
                        required="required"
                        data-bind="value:profs.bank_name">
                    </div>
                </div>
                <br>
                 <div class="row">
                    <div class="col-md-3" style="padding-left: 0">
                        Nomor Rekening
                    </div>
                    <div class="col-md-9">
                        <input type="text" 
                        class="form-control" 
                        required="required"
                        data-bind="value:profs.account_number">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3" style="padding-left: 0">
                        Cabang
                    </div>
                    <div class="col-md-9">
                        <input type="text" 
                        class="form-control" 
                        required="required"
                        data-bind="value:profs.bank_branch">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3" style="padding-left: 0">
                        Deskripsi Perusahaan
                    </div>
                    <div class="col-md-9">
                        
                        <textarea class="form-control" rows="3" required="required" style="resize: none"
                        data-bind="value:profs.company_desc"></textarea>
                        
                    </div>
                </div> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" 
                data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" 
                data-bind="click:profs.saveInformasiUmum">Save changes</button>
            </div>
        </div>
    </div>
</div> --}}

<div class="w3-container" >

  <div id="informasi-umum-seller" class="w3-modal" >
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" 
    style="max-width:900px; font-variant-caps: all-petite-caps">

      <div class="w3-center">
          <br>
          <h4><strong>Informasi Umum</strong></h4>
        <span onclick="document.getElementById('informasi-umum-seller').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
        <div class="w3-center" style="padding-left: 40%">
            <img data-bind="attr:{src:profs.photo}" alt="Avatar" 
            style="width:30%;" class="w3-circle w3-margin-top">
        </div>
        <p></p>
         <input type="file" style="margin-left: 32%" id="imageUploadSeller">
      </div>
      <div class="w3-container">
        <div class="row">
            <div class="w3-section">
            <div class="col-md-6">
                <label><b>Nama Perusahaan</b></label>
                <input type="text" 
                            class="form-control" 
                            required="required"
                            data-bind="value:profs.company_name" tabindex="1">
            </div>
                <div class="col-md-6" style="padding-left: 0">
                <label><b>Nama Pengelola</b></label>
                    <input type="text" 
                    class="form-control" 
                    required="required"
                    data-bind="value:profs.nama" tabindex="2">
                </div>
                </div>
        </div>
        <p></p>
        <div class="row">
            <div class="w3-section">
                <div class="col-md-12">
                    <table class="table  table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Logo</th>
                                <th>Nama Bank</th>
                                <th>Cabang</th>
                                <th>No. Rekening</th>
                                <th>Atas Nama</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ko foreach:profs.bank -->
                                <tr>
                                    <td>
                                        <img
                                         data-bind="attr:{src:$root.profs.getImageBank(bank_name)}">
                                    </td>
                                    <td><input type="text" data-bind="value:bank_name"></td>
                                    <td><input type="text" data-bind="value:bank_branch"></td>
                                    <td><input type="text" data-bind="value:account_number"></td>
                                    <td><input type="text" data-bind="value:account_name"></td>
                                </tr>
                            <!-- /ko -->
                            
                        </tbody>
                    </table>
                </div>
                </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Deskripsi Perusahaan</label>
                <textarea class="form-control" rows="2" required="required" 
                        data-bind="value:profs.company_desc" tabindex="6"></textarea>
            </div>
                
        </div>
        <p></p>
      </div>

      <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
    
        <button type="button" class="w3-button w3-green"
        data-bind="click:profs.saveInformasiUmum">Save changes</button>
        <button onclick="document.getElementById('informasi-umum-seller').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
        <span class="w3-right w3-padding w3-hide-small">
            
        </span>
      </div>

    </div>
  </div>
</div>
