<style>
    .jqx-file-upload, .jqx-file-upload-file-row, .jqx-file-upload-file-name, .jqx-file-upload-file-cancel, .jqx-file-upload-file-upload{
        border-style: none
    }
</style>
<div class="modal fade" id="info-umum" style="padding-top: 130px">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Informasi Umum</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3" style="padding-left: 0">
                       Foto Profil
                    </div>
                    <div class="col-md-9">
                        <input type="file" id="imageUpload">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3" style="padding-left: 0">
                       Nama
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" data-bind="value:prof.nama">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3" style="padding-left: 0">
                       Tanggal Lahir
                    </div>
                    <div class="col-md-9" style="padding-left: 0; padding-right: 0">
                        <div class="col-md-6">
                            <input type="date" class="form-control" 
                            data-bind="value:prof.birth" style="text-align: center">
                        </div>
                         {{!-- <div class="col-md-4">
                            <input type="text" class="form-control">
                        </div>
                         <div class="col-md-4">
                            <input type="text" class="form-control">
                        </div> --}}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3" style="padding-left: 0">
                        Jenis Kelamin
                    </div>
                    <div class="col-md-9" style="padding-left: 0; padding-right: 0">
                        <input type="radio" name="jk" value="1" data-bind="checked:prof.jk">
                        Laki - Laki
                        <input type="radio" name="jk" value="0" data-bind="checked:prof.jk">
                        Perempuan
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bind="click:prof.saveEditInformasiUmum">Save changes</button>
            </div>
        </div>
    </div>
</div>
