{{!-- <div class="modal fade" id="pass-seller" style="padding-top: 130px">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Email dan Telepon</h4>
            </div>
            <div class="modal-body">
               
                <div class="row">
                    <div class="col-md-3" style="padding-left: 0">
                       Password Baru
                    </div>
                    <div class="col-md-9">
                        <input type="password" class="form-control" data-bind="value:profs.passwordBaru">
                          <strong><p style="padding-left: 10px; color: red; font-size: 9pt" 
                            id="username" data-bind="text:profs.passwordBaruException"></p></strong> 
                    </div>
                </div>
                 <br>
                <div class="row">
                    <div class="col-md-3" style="padding-left: 0">
                       Ulangi Password Baru
                    </div>
                    <div class="col-md-9">
                        <input type="password" class="form-control" data-bind="value:profs.cpasswordBaru">
                          <strong><p style="padding-left: 10px; color: red; font-size: 9pt" 
                            id="username" data-bind="text:profs.cpasswordBaruException">
                            </p></strong> 
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3" style="padding-left: 0">
                       Password Sekarang
                    </div>
                    <div class="col-md-9">
                        <input type="password" class="form-control" data-bind="value:profs.passwordSekarang">
                         <strong><p style="padding-left: 10px; color: red; font-size: 9pt" 
                            id="username" data-bind="text:profs.passwordSekarangException"></p></strong> 
                            <p></p>
                    </div>
                    
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bind="click:profs.changePassword">Save changes</button>
            </div>
        </div>
    </div>
</div> --}}



<div class="w3-container" >

  <div id="password-seller" class="w3-modal" >
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" 
    style="max-width:800px; font-variant-caps: all-petite-caps">

        <div class="w3-center">
            <br>
            <h4><strong>Password</strong></h4>
             <span onclick="document.getElementById('password-seller').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
        </div>
      <div class="w3-container">
        <div class="row">
            <div class="w3-section">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <label><b>Password Baru</b></label>
                <input type="password" class="form-control" 
                data-bind="value:profs.passwordBaru">
                          <strong>
                              <p style="padding-left: 10px; 
                              color: red; font-size: 9pt" 
                            id="username" 
                            data-bind="text:profs.passwordBaruException">
                            </p>
                            </strong> 

            </div>
            <div class="col-md-3"></div>

        <p></p>
            </div>
        </div>
         <div class="row">
            <div class="w3-section">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <label><b>Ulangi Password</b></label>
                <input type="password" class="form-control" 
                data-bind="value:profs.cpasswordBaru">
                          <strong>
                              <p style="padding-left: 10px; 
                              color: red; font-size: 9pt" 
                            id="username" 
                            data-bind="text:profs.cpasswordBaruException">
                            </p>
                            </strong> 

            </div>
            <div class="col-md-3"></div>

        <p></p>
            </div>
           
        </div>
        <div class="row">
            <div class="w3-section">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <label><b>Password sekarang</b></label>
                <input type="password" class="form-control" 
                data-bind="value:profs.passwordSekarang">
                          <strong>
                              <p style="padding-left: 10px; 
                              color: red; font-size: 9pt" 
                            id="username" 
                            data-bind="text:profs.passwordSekarangException">
                            </p>
                            </strong> 

            </div>
            <div class="col-md-3"></div>

        <p></p>
            </div>
        </div>

       

      <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
    
        <button type="button" class="w3-button w3-green"
        data-bind="click:profs.changePassword">Save changes</button>
        <button onclick="document.getElementById('password-seller').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
        <span class="w3-right w3-padding w3-hide-small">
            
        </span>
      </div>

    </div>
  </div>
</div>
