<div class="col-md-12" style="padding-left: 0; margin-left: 0; margin-top: 10px">
		<div class="col-sm-7"  style="padding: 0; margin: 0; margin-left: 0">
			<input type="search" 
			placeholder="Search the shop" class="form-control" 
			required="required" 
			style="width: 99.7%; height: 35px"
			data-bind="value:nav.searchBox">
		</div>
		<div class="col-sm-3"  style="padding: 0; margin: 0">
			<select class="form-control" 
			id="searchBox"
			style="height: 35px;padding: 0"
			data-bind="options:nav.options,
			optionsText:'name',optionsValue:'name',value:nav.kategoriSearch">
			</select>
		</div>
		<div class="col-sm-1"  style="padding: 0;  color:black">
			<button class="btn  w3-theme-d1 w3-margin-bottom" 
			style="height: 35px; padding: 0; padding-left: 20px; 
			padding-right: 20px"
			data-bind="click:nav.search">
				Search
			</button>
		</div>
</div>