{{#each user }}

    <button type="button" class="btn btn-lg btn-default" id="{{this.username}}" onClick="javascript:follow(this)">{{this.username}}</button>

{{/each}}
<script src="/javascripts/panel_user.js"></script>