<!-- Modal -->
<div class="container">
<div class="modal-header" style="text-align: center">
    <h4 class="modal-title" id="myModalLabel" style="font-weight: bold">Daftar Akun Baru Sekarang</h4>
</div>

<div class="modal-body">
    <div role="tabpanel">
    <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ><a href="#pembeli" aria-controls="uploadTab" role="tab" data-toggle="tab">Pembeli</a></li>
            <li role="presentation" class="active"><a href="#penjual" aria-controls="browseTab" role="tab" data-toggle="tab">Penjual</a></li>
        </ul>
        {{>register-buyer}}
        {{>register-seller}}
        </div>
    </div>
</div>
</div>