{{> menu}}
<div class="col-lg-9" style="padding: 0; margin: 0;margin-left: 5px;
background-color: white; padding: 0; width: 81%">
    <div class="col-lg-12" style="padding: 0">
    </div>
    <div class="col-lg-12" style="padding: 0">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 style="float: left"><strong>New Katalog</strong></h3>
                <button class="btn btn-success" style="float: right" data-bind="click:kl.addKatalog">
                    Add Katalog <i class="fa fa-plus"></i></button>
                <br>
                <br>
            </div>
            <div class="panel-body" style="">
                {{!-- content --}}
                <div class="col-lg-12">
                        <div class="form-group">
                            <label 
                                class="col-sm-2 control-label">Judul Katalog *</label>
                            <div class="col-sm-10">
                                <input type="text"
                                class="form-control" 
                                data-bind="value:kl.title"
                                required/>
                            </div>
                            <br>
                            <br>
                        </div>

                        <div class="form-group">
                            <label 
                                class="col-sm-2 control-label">Masa Berlaku *</label>
                            <div class="col-sm-2">
                                <input type="date"
                                style="text-align: center"
                                class="form-control" 
                                data-bind="value:kl.expired"
                                required/>
                            </div>
                            <p>&nbsp;</p>
                            
                            <br>
                        </div>
                        
                        <div class="form-group" id="editor-wrapper">
                            <label for="editor" class="col-sm-2 control-label">Deskripsi Katalog *</label>
                            <div class="col-sm-10">
                                <textarea minlength="5" rows="10" 
                                class="form-control" data-bind="value:kl.description" required></textarea>
                            </div>
                             <p>&nbsp;</p>
                        </div>
                        <div class="form-group" id="editor-wrapper">
                            <label for="editor" class="col-sm-2 control-label">Lampiran Katalog *</label>
                            <div class="col-sm-10">
                               <div class="col-lg-12" style="padding-left: 0">
                                    <div id="katalogUpload" style="border: none"></div> 
                                    <p style="padding-left: 10px" data-bind="text:kl.path"></p>
                                </div>
                            </div>
                             <p>&nbsp;</p>
                        </div>
                </div>
                {{!-- end content --}}
            </div>
        </div>
    </div>
</div>
