<div class=""  style="font-variant-caps: all-petite-caps">
<div class="row">
    <br>
        <div class="col-md-4"></div>
        <div class="col-md-4">
         <div class="page-header" style="text-align: center">
            <h1><small><strong style="color: black"> Daftar Akun Baru Sekarang</strong></small></h1>
        </div>
        </div>
        <div class="col-md-4"></div>
</div>
<div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <input 
            type="text" class="form-control" 
            data-bind="attr:{placeholder:'Nama Lengkap'}">
        </div>
        <div class="col-md-4"></div>
</div>
<div class="row">
    <br>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <input 
            type="text" class="form-control" 
            data-bind="attr:{placeholder:'Email'}">
        </div>
        <div class="col-md-4"></div>
</div>
<div class="row">
    <br>
        <div class="col-md-4"></div>
        <div class="col-md-4">
                <input type="radio" name="gender" value="male"> Laki - Laki &nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="gender" value="female"> Perempuan
         
        </div>
        <div class="col-md-4"></div>
</div>
</div>
